.header {
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
   background-color: #fff;
   min-height: 50px;
   margin-bottom:10px;
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   position:relative;
}

.te-logo img{
   width:120px;
   margin-right:50px;
}
.navigation {
   align-items: center;
   display: flex;
   padding: 0 40px 0 20px;
   position: relative;
}

.horizontal-menu {
   margin: 0 10px;
   padding: 0;
}


.horizontal-menu .horizontal-item {
   display: inline-block;
   margin: 10px;
   font-size: 0.8em;
   cursor: pointer;
   transition: color 0.4s ease;
}

.horizontal-menu .horizontal-item a {
   color: #333;
   text-decoration: none;
   padding: 5px;
   background-color: #f1f1f1;
}

.horizontal-menu .horizontal-item a:hover {
   background-color: #dedede;
}
