/* Styles for Store - square tiles */

@media (min-width: 400px) {
    .square-tiles li.te-store-menu-item.te-store-menu-item-active {
        padding-left: 5px;
        border-left: 2px solid #669691;
        background-color: rgba(0, 0, 0, 0.01);
    }
    
    .square-tiles li.te-store-menu-item.te-store-menu-item:hover {
        padding-left: 5px;
        border-left: 2px solid #669691;
        background-color: rgba(0, 0, 0, 0.01);
    }
    
    .square-tiles .te-collection .te-product-card {
        width: calc(20% - 20px);
        position: relative;
        padding: 0;
        margin: 10px;
        padding-top: calc(20% - 20px);
    }
    
    .square-tiles .te-collection .te-product-card-img {
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .square-tiles .te-collection .te-product-card-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        align-items: flex-start;
    }
    
    .square-tiles .te-collection .te-product-card-brand {
        color: #669691;
        background-color: rgba(255,255,255,0.75);
        display: block;
        padding: 0 10px;
        white-space: nowrap;
    }
    
    .square-tiles .te-collection .te-product-card-name {
        background-color: white;
        line-height: 2.5em;
        padding: 0 10px;
        margin-top: 5px;
        background-color: rgba(255,255,255,0.75);
        font-weight: bold;
    }
    
    .square-tiles .te-collection .te-product-card-price {
        background-color: rgba(255,255,255,0.75);
        padding: 0 10px;
        margin-top: 5px;
        text-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    }
    
    .square-tiles .te-collection .te-button {
        margin-top: 5px;
    }
}

