#cart {
    margin: 0 20px 0 auto;
}

.cart-icon .tipser-icon.tipser-icon-cart {
    font-size: 35px;
}

#cart .cart-icon .tipser-icon .tipser-cart-size-indicator {
    width: 20px;
    height: 20px;
    top: 50%;
    border: 2px solid #cacaca;
    border-radius: 50%;
    line-height: 22px;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    background: #fff;
}

.te-shop {
    justify-content: center;
}

#tipser_shop .te-shop .te-shop-collection {
    width: auto;
}
